.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 360px;
    margin-left: 38px;
}

.formItem {
    display: flex;
    flex-direction: column;
}

.formBtn {
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    border: 2px solid #a0a0a3;
    background-color: rgba(232, 232, 237, 0.558);
    border-radius: 4px;
    padding: auto;
    margin: 0 auto;
} 

.input {
    border: 2px solid #a0a0a3;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 18px;
    width: 340px;
}

label {
    font-size: 20px;
    font-weight: 700;
}